<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <appSettings>
    <add key="pdf1099k" value="PROD\S{2}_1099K_Forms\S+.pdf"></add>
    <add key="f1099kRulePath" value="Samples\f1099kRegexRules.json"/>
  </appSettings>
  <!--TODO move this to MDF or in memory for unit test-->
  <connectionStrings>
    <add name="Extract1099KEntities" connectionString="metadata=res://*/Entity.Extract1099KEntities.csdl|res://*/Entity.Extract1099KEntities.ssdl|res://*/Entity.Extract1099KEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=US001-DC-DSQL52;initial catalog=Extract1099K;persist security info=True;user id=Opsuser;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>